<ion-card class="ion-padding">
  Liz pues la verdadd ya falta poco para que se acabe tu cumpleaños
  te juro que trate de hacer lo mejor que pude y se que mereces mas
  no lo digo porque estemos trabajando juntos, si no, porque me caes muy bien
  eres muy chida, muy linda, siempre buscas ayudar aunque aveces seas tu la
  que necesita ayuda, espero que nuestra amistad siga con o sin trabajo
  con o sin escuela. Gracias por compartir conmigo grandes momentos. Muchas felicidades.
  Nunca dejes de ser tan linda ocmo eres
</ion-card>
