<app-header titulo="Eres maravillosa"></app-header>

<ion-content>
      <ion-item >
        <ion-icon slot="start" name="musical-notes"></ion-icon>
          <a href="https://www.youtube.com/watch?v=FwLeQFWeQcM">Mañanitas</a>
      </ion-item>
    <ion-card color="primary" mode="ios">
        <ion-card-header color="primary">
            <ion-card-title>Nuestra unica foto</ion-card-title>

        </ion-card-header>

        <ion-card-content ><strong>
            Bueno Liz, aun no soy un gran programador, me huiera gustado hacer esto con mas calma
            pero he estado muy presionado, pero como ya te habia dicho, un cumpleaños de un amigo mio
            no puede pasar desapersivido. Ademas de ser fan de ser el último
        </strong>
            <ion-img src="./assets/index.jpeg" ></ion-img>
        </ion-card-content>



    </ion-card>






</ion-content>

<ion-footer>

    <ion-toolbar>
        <ion-title>Mensajito</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="mostrarPop($event)">
                <ion-icon name="heart" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
