<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      pensabas que lo olvide?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="body">

      <ion-card-content>

        <ion-img src="./assets/joke.jpg" expand="full">

        </ion-img>
        <ion-label>Solo estaba algo presionado de tiempo pero te quieria felicitar de una manera especial</ion-label>

      </ion-card-content>

 <ion-button expand="full" routerLink="/principal">
   Comenzar felicitacion
 </ion-button>
</ion-content>
